@font-face {
  font-family: Gotham-Thin;
  src: url(Gotham-Thin.ttf);
}


body {
	
	color: white;
	font-family: "Arial", 'Verdana', "Sans-serif";
   background: url('bg.jpg') no-repeat;
background-size: cover;
background-position: center top; 
	/* background: url("bg.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; */
}



.noselect {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}










/* CONTENT */

/* unseen_at_top */
#unseen_at_top{
  height: 10vh;
  overflow: hidden;
  color: black;
}






/* CONTENT TOP */
#content_top{
  display: flex;
z-index: -1;
/*  background: url('bg.jpg') no-repeat;
background-size: cover;
background-position: center top;  */
  width: 100%;
  height: 70vh;
  width: 100%;
  /* background: rgba(1,0,0,0.5); */
}

#content_top .content_top_1{
  display: none;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#content_top .content_top_1 .rounded_container{

  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;  
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
  border-top: 1px solid white;
  border-bottom: 1px solid red;
  -webkit-animation: rotation_rounded_container 15s infinite linear;
    isolation: isolate;
}


@-webkit-keyframes rotation_rounded_container {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

#content_top .content_top_1 .rounded_container .rounded{
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  background: rgba(255,255,255,.2);
  border-top: 1px solid white;
  -webkit-animation: rotation_rounded_container_inner 10s infinite linear;
  isolation: isolate;
}

@-webkit-keyframes rotation_rounded_container_inner {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}



/* CONTENT MIDDLE */

#info_at_bottom{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  height: 10vh;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 0.8rem;
  font-family: Gotham-Thin;
}

#info_at_bottom a{
  color: white;
}

#info_at_bottom p{
}



/* CONTENT MIDDLE */

#content_bottom{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  width: 100%;
  background: black;
  /* background: #505050;  */
  text-align: center;
  margin: auto;
  color: white;
  border-top: 1px solid #505050;
}

#content_bottom p{
  font-size: 1.5rem;
  font-family: Gotham-Thin;
}













/* APP PAGE */

#app_title{
  display: flex;
  margin: auto;
  justify-content: center;
  width: 100%;
  height: 100px;
  background: #035300;
  color: white;
  text-align: center;
}

#app_title h1{
  font-family: Gotham-Thin;
  padding-top: 60px;
  text-align: center;
  font-size: 1.5rem;
}






#app_info{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 100%;
  min-height: 500px;
  background: white;
  color: black;
  padding: 20px;
}


#app_info .icon{
  background: url('logo.jpg') no-repeat;
  background-size: cover;
  height: 100px;
  width: 100px;
  /* border: 0.7px solid #035300; */
  border-radius: 10px;
  box-shadow: 0 1px 10px 0 rgba(1,1,1,0.5);
}


#app_info .features_list ul{
  list-style-type: disc;
}

#app_info h3{
  font-size: 2rem;
  font-weight: bold;
}

#app_info p{
  font-size: 4vw;
}

#app_info button{
  padding: 10px;
  background: #035300;
  border: none;
  border-radius: 6px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}















/* OOPS */
#oops{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
  height: 100vh;
  width: 100%;
  color: #035300;
}

#oops h1{
  font-family: Gotham-Thin;
  font-size: 5rem;
  padding: 20px;
}











.box {
  width: 75%;
  height: 100px;
  border: 2px solid white;
color: white;
font-size: 15px;
  margin: 25px;
overflow: hidden;
  background: url(mic.jpg);	
  background-size: 300px auto;
  background-repeat: no-repeat;
  background-color: black;
}


.floatright {
  float: right;

}

.floatleft {
  float: left;

}

.titlebar {
  width: auto;
  height: 50px;

  padding: 10px;

 overflow: hidden;

	opacity: 1;
text-orientation: none;
	top: 0;

}

.bg {
  	background: url(gradient.png);
	background-size: 300px 1000px;
 	background-repeat: no-repeat;

}

ul {
  list-style-type: none;
  margin: 10;
  padding: 0;
  overflow: hidden;


}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li:hover{
	background-color: red;
}

.footer {
  display: flex;
  left: 0px;
  padding: 0px;
  bottom: 0px;
  width: 100%;
  background-color: #147500;
  color: white;
  text-align: center;
  font-size: 10px;
  height: 50px;
}

.playerfill{
    position: fixed;
  bottom: 52px;
    left: 40%;
}
.love{
	font-size: 30px;
}

.love:active {
	color: #FE0199;
	    z-index: 2;
    -webkit-transition: all 100ms ease-in;
    -webkit-transform: scale(2);
    -ms-transition: all 100ms ease-in;
    -ms-transform: scale(2);   
    -moz-transition: all 100ms ease-in;
    -moz-transform: scale(2);
    transition: all 100ms ease-in;
    transform: scale(2);
}



audio{
	width: 100%;
}
.titlebarbg{
	background-color: black;
	opacity: 1;
	position: fixed;
	top: 0;
	height: 50px;
	width: 100%;
}

.animate-fading{
	animation:fading 2s infinite
	}

@keyframes fading{
	0%{opacity:0}
	50%{opacity:1}
	100%{opacity:0}
}
h1{
	font-size: 18px;
	font-weight: normal;
}
h2{
	font-size: 10px;
	font-weight: normal;
}
h3{
	font-size: 18px;
	font-weight: normal;
}

	@media screen and (min-width: 1001px) {
  div.msg {
    font-size: 20px;
    text-align: center;


  }
}

	@media screen and (max-width: 1000px) {
  div.msg {
    font-size: 10px;
    text-align: center;

  }
}

.hide{
    visibility: hidden;
}





/*FIX PRELOADER*/
.fixed {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    left: 50%;
    transform: translate(-50%, 0);
    top: 50%;
    transform: translate(-50%, 0);
}

.roundplayer {
  z-index: -1;
  text-align: center;
  width: 75px;
  height: 75px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background-color: white;
  font-size: 15px;
-webkit-animation: roundplayer_rotation 6s infinite linear;  

}

@-webkit-keyframes roundplayer_rotation {
    from {
        -webkit-transform: rotate(359deg);
    }
    to {
        -webkit-transform: rotate(0deg);
    }
}




.inline_block {
  text-align: center;
display: inline-block;

}















/*mobile nav*/

* { outline: none; }

main {
display: inline;
}

main > div {
  margin: auto;
  max-width: 600px;
}

main h2 span { color: #BF7497; }

main small {
  font-weight: 300;
  color: #888;
}


.button_nav {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  -webkit-appearance: none;
  border: 0;
  background: transparent;
  border-radius: 0;
  height: 70px;
  width: 30px;
  cursor: pointer;
  pointer-events: auto;
  margin-left: 4vw;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.top_bar {
  display: flex;
  align-items: center;
  padding-left: 10vw;
  margin: auto;
  position: fixed;
  width: 100%;
  height: 70px;
  background: rgba(255,255,255,1);
  color: #1D6100;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-shadow: 0 1px 25px 0 rgba(1,1,1,0.2);
}

.top_bar_title_1{
  flex:2;
  text-align: center;
 /*  background: red;
 padding: 0px 20px 0px 20px; */
}

.top_bar_title_2{
  display: flex;
  flex-basis: 70px;
  justify-content: flex-end;
  align-items: center;
  margin: auto;
/*   background: black;
 padding: 0px 20px 0px 20px; */
}

.top_bar_title_2 p{
  text-align: right;
  padding-right: 1vw;
}

.icon-bar {
  display: block;
  width: 100%;
  height: 3px;
  background: #1D6100;
  transition: .3s;
}

.icon-bar + .icon-bar { margin-top: 5px; }

#nav-container:focus-within .button_nav {
  pointer-events: none;
}

#nav-container:focus-within .icon-bar:nth-of-type(1) {
  transform: translate3d(0, 8px, 0) rotate(45deg);
}

#nav-container:focus-within .icon-bar:nth-of-type(2) {
  opacity: 0;
}

#nav-container:focus-within .icon-bar:nth-of-type(3) {
  transform: translate3d(0, -8px, 0) rotate(-45deg);
}

#nav-container {
  z-index: 1;
  display: flex;
  align-items: flex-start;
  position: fixed;
  height: 100vh;
  width: 100%;
  pointer-events: none;
  overflow: scroll;
}

#nav-container .bg {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: calc(100% - 70px);
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s, visibility 0s;
  background: #000;
}

#nav-container:focus-within .bg {
 visibility: visible;
 opacity: .6;

}

#nav-container * { visibility: visible; }

.top_bar h3{
  font-size: 2rem;
}


#nav-content {
  display: flex;
  margin-top: 70px;
  padding: 20px;
  width: 90%;
  max-width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 70px);
  background: url('sm1.png') no-repeat;
  background-size: 100%;
  background-color: #035300;
  pointer-events: auto;

  transform: translateX(-100%);
  transition: transform .3s;
  will-change: transform;

}

#nav-content ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
}

#nav-content li a {
  padding: 10px 5px;
  text-decoration: none;
  color: white;

}

#nav-content .sideMenuTitle{
  font-family: Gotham-Thin;
  pointer-events: none;
  cursor: default;
  font-weight: normal; 
  text-align: center;
  padding: 0px 0px 5px 0px;
  font-size: 2rem;
  text-align: center;
}

#nav-content li:hover{
  background-color: transparent;
}

#nav-content li a:hover {font-weight: bold;}

#nav-content li:not(.small) + .small { margin-top: auto; }

.small {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
}

.small .small_social{
    padding: 20px;
}

.small a {
  font-size: 20px;
  font-weight: 400;
  color: #888;

}

.small a + a { margin-left: 15px; }
 #nav-container:focus-within #nav-content {
 transform: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}











/* MODAL */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  color: black;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}








/* SHARING */


.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em
}

.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none
}

.resp-sharing-button--twitter {
  background-color: #55acee
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9
}

.resp-sharing-button--pinterest {
  background-color: #bd081c
}

.resp-sharing-button--pinterest:hover {
  background-color: #8c0615
}

.resp-sharing-button--facebook {
  background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373
}

.resp-sharing-button--tumblr {
  background-color: #35465C
}

.resp-sharing-button--tumblr:hover {
  background-color: #222d3c
}

.resp-sharing-button--reddit {
  background-color: #5f99cf
}

.resp-sharing-button--reddit:hover {
  background-color: #3a80c1
}

.resp-sharing-button--google {
  background-color: #dd4b39
}

.resp-sharing-button--google:hover {
  background-color: #c23321
}

.resp-sharing-button--linkedin {
  background-color: #0077b5
}

.resp-sharing-button--linkedin:hover {
  background-color: #046293
}

.resp-sharing-button--email {
  background-color: #777
}

.resp-sharing-button--email:hover {
  background-color: #5e5e5e
}

.resp-sharing-button--xing {
  background-color: #1a7576
}

.resp-sharing-button--xing:hover {
  background-color: #114c4c
}

.resp-sharing-button--whatsapp {
  background-color: #25D366
}

.resp-sharing-button--whatsapp:hover {
  background-color: #1da851
}

.resp-sharing-button--hackernews {
background-color: #FF6600
}
.resp-sharing-button--hackernews:hover, .resp-sharing-button--hackernews:focus {   background-color: #FB6200 }

.resp-sharing-button--vk {
  background-color: #507299
}

.resp-sharing-button--vk:hover {
  background-color: #43648c
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

.resp-sharing-button--google {
  background-color: #dd4b39;
  border-color: #dd4b39;
}

.resp-sharing-button--google:hover,
.resp-sharing-button--google:active {
  background-color: #c23321;
  border-color: #c23321;
}

.resp-sharing-button--tumblr {
  background-color: #35465C;
  border-color: #35465C;
}

.resp-sharing-button--tumblr:hover,
.resp-sharing-button--tumblr:active {
  background-color: #222d3c;
  border-color: #222d3c;
}

.resp-sharing-button--email {
  background-color: #777777;
  border-color: #777777;
}

.resp-sharing-button--email:hover,
.resp-sharing-button--email:active {
  background-color: #5e5e5e;
  border-color: #5e5e5e;
}

.resp-sharing-button--pinterest {
  background-color: #bd081c;
  border-color: #bd081c;
}

.resp-sharing-button--pinterest:hover,
.resp-sharing-button--pinterest:active {
  background-color: #8c0615;
  border-color: #8c0615;
}


















/* MEDIA QUERY */
@media only screen and (max-width: 425px){
  .top_bar h3{
  font-size: 7vw;
  }
}
