body {
	
	color: white;
	font-family: "Arial", 'Verdana', "Sans-serif";
	background: url(bg.jpg);
	background-color: black;
 	background-repeat: no-repeat;
}

.box {
  width: 75%;
  height: 100px;
  border: 5px solid white;

  margin: 25px;
  overflow: auto;
  background: url(mic.jpg);	
  background-size: 300px auto;
  background-repeat: no-repeat;
  background-color: black;
}

.floatright {
  float: right;
}

.floatleft {
  float: left;
}

.titlebar {
  width: auto;
  height: 30px;

  padding: 10px;

 overflow: hidden;

	opacity: 1;
text-orientation: none;
	top: 0;

}

.bg {
  	background: url(gradient.png);
	background-size: 300px 1000px;
 	background-repeat: no-repeat;

}

ul {
  list-style-type: none;
  margin: 10;
  padding: 0;
  overflow: hidden;


}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li:hover{
	background-color: #062300;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #147500;
  color: white;
  text-align: center;
  font-size: 10px;
  height: 50px;
}

.player{
	 position: fixed;
	bottom: 52px;
	left: 0;
}
.love{
	font-size: 30px;
}

.love:active {
	color: #FE0199;
}

audio{
	width: 100%;
}
.titlebarbg{
	background-color: black;
	opacity: 1;
	position: fixed;
	top: 0;
	height: 50px;
	width: 100%;
}
