body {
	
	color: black;
	font-family: "Arial", 'Verdana', "Sans-serif";
	/*background: url("gradient.png");*/
	background-color: white;
}

.box {
  width: 75%;
  height: 100px;
  border: 2px solid black;
color: white;
font-size: 15px;
  margin: 25px;
overflow: hidden;
  background: url(mic.jpg);	
  background-size: 300px auto;
  background-repeat: no-repeat;
  background-color: black;
}


.floatright {
  float: right;

}

.floatleft {
  float: left;

}

.titlebar {
  width: auto;
  height: 50px;

  padding: 10px;

 overflow: hidden;

	opacity: 1;
text-orientation: none;
	top: 0;

}

.bg {
  	background: url(gradient.png);
	background-size: 300px 1000px;
 	background-repeat: no-repeat;

}

ul {
  list-style-type: none;
  margin: 10;
  padding: 0;
  overflow: hidden;


}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li:hover{
	background-color: red;
}

.footer {
  /*position: fixed;*/
  left: 0px;
  padding: 0px;
  bottom: 0px;
  width: 100%;
  background-color: #147500;
  color: white;
  text-align: center;
  font-size: 10px;
  height: 50px;
}

.playerfill{
    position: fixed;
  bottom: 52px;
    left: 40%;
}
.love{
	font-size: 30px;
}

.love:active {
	color: #FE0199;
	    z-index: 2;
    -webkit-transition: all 100ms ease-in;
    -webkit-transform: scale(2);
    -ms-transition: all 100ms ease-in;
    -ms-transform: scale(2);   
    -moz-transition: all 100ms ease-in;
    -moz-transform: scale(2);
    transition: all 100ms ease-in;
    transform: scale(2);
}



audio{
	width: 100%;
}
.titlebarbg{
	background-color: black;
	opacity: 1;
	position: fixed;
	top: 0;
	height: 50px;
	width: 100%;
}

.animate-fading{
	animation:fading 2s infinite
	}

@keyframes fading{
	0%{opacity:0}
	50%{opacity:1}
	100%{opacity:0}
}
h1{
	font-size: 18px;
	font-weight: normal;
}
h2{
	font-size: 10px;
	font-weight: normal;
}
h3{
	font-size: 18px;
	font-weight: normal;
}

	@media screen and (min-width: 1001px) {
  div.msg {
    font-size: 20px;
    text-align: center;


  }
}

	@media screen and (max-width: 1000px) {
  div.msg {
    font-size: 10px;
    text-align: center;

  }
}

.hide{
    visibility: hidden;
}





/*FIX PRELOADER*/
.fixed {
  position: fixed;
  top: 40%;
  left: 30%;


  visibility:visible;
align-content: center;

}


.roundplayer {
  font-size: 15px;
  display: none;
}
